<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= tittle %></title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-globe"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SIPENTOL</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/datausers">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Users</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/admin/datatanah">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Data Tanah</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hi, <%= username %></span>
                            </a>

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Data Tanah</h1>

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Data Tanah</h6>
                            </div>
                            <div class="card-body">
                                <% if (messages.success) { %>
                                    <div class="alert alert-success" role="alert"><%- messages.success %></div>
                                <% } %>
                                
                                <% if (messages.error) { %>
                                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                                <% } %>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Gambar</th>
                                                <th>NOP</th>
                                                <th>LB</th>
                                                <th>LT</th>
                                                <th>ZNT</th>
                                                <th>Alamat Objek Pajak</th>
                                                <th>Nama Subjek Pajak</th>
                                                <th>Alamat Wajib Pajak</th>
                                                <th>Jenis Transaksi</th>
                                                <th>Nop Induk</th>
                                                <th>NOP Baru</th>
                                                <th>Nama Jalan</th>
                                                <th>Blok/Kav/No</th>
                                                <th>Kelurahan</th>
                                                <th>RT</th>
                                                <th>RW</th>
                                                <th>Status</th>
                                                <th>Pekerjaan</th>
                                                <th>Nama Subjek Pajak</th>
                                                <th>Nama Jalan</th>
                                                <th>Blok/Kav/No</th>
                                                <th>Kelurahan</th>
                                                <th>RT</th>
                                                <th>RW</th>
                                                <th>Kabupaten</th>
                                                <th>Nomor KTP</th>
                                                <th>ZNT</th>
                                                <th>Luas Tanah Baru</th>
                                                <th>Jenis Tanah</th>
                                                <th>Keterangan</th>
                                                <th>Tanggal Input</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(tanah.length){
                                                for(var i = 0; i< tanah.length; i++) {%>
                                                    <tr>
                                                        <td><%= (i+1) %></td>
                                                        <td><img src="/assets/uploads/<%= tanah[i].gambar %>" alt="Gambar Tanah" style="max-width: 100px; max-height: 100px;"></td>
                                                        <td><%= tanah[i].nop %></td>
                                                        <td><%= tanah[i].lt %></td>
                                                        <td><%= tanah[i].lb %></td>
                                                        <td><%= tanah[i].znt %></td>
                                                        <td><%= tanah[i].alamat_objek_pajak %></td>
                                                        <td><%= tanah[i].nama_subjek_pajak %></td>
                                                        <td><%= tanah[i].alamat_wajib_pajak %></td>
                                                        <td><%= tanah[i].jenis_transaksi %></td>
                                                        <td><%= tanah[i].nop_induk %></td>
                                                        <td><%= tanah[i].nop_baru %></td>
                                                        <td><%= tanah[i].nama_jalan_objek %></td>
                                                        <td><%= tanah[i].blok_kav_no_objek %></td>
                                                        <td><%= tanah[i].kelurahan_objek %></td>
                                                        <td><%= tanah[i].rt_objek %></td>
                                                        <td><%= tanah[i].rw_objek %></td>
                                                        <td><%= tanah[i].status %></td>
                                                        <td><%= tanah[i].pekerjaan %></td>
                                                        <td><%= tanah[i].nama_subjek_pajak %></td>
                                                        <td><%= tanah[i].nama_jalan_wajib %></td>
                                                        <td><%= tanah[i].blok_kav_no_wajib %></td>
                                                        <td><%= tanah[i].kelurahan_wajib %></td>
                                                        <td><%= tanah[i].rt_wajib %></td>
                                                        <td><%= tanah[i].rw_wajib %></td>
                                                        <td><%= tanah[i].kabupaten %></td>
                                                        <td><%= tanah[i].no_ktp %></td>
                                                        <td><%= tanah[i].znt_baru %></td>
                                                        <td><%= tanah[i].luas_tanah_baru %></td>
                                                        <td><%= tanah[i].jenis_tanah %></td>
                                                        <td><%= tanah[i].keterangan %></td>
                                                        <td><%= tanah[i].tanggal %></td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#deleteTanah" data-id="<%= tanah[i].id_tanah %>">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-warning mr-2" data-toggle="modal" data-target="#editTanah" data-id="<%= tanah[i].id_tanah %>" data-nop="<%= tanah[i].nop %>" data-lt="<%= tanah[i].lt %>" data-lb="<%= tanah[i].lb %>" data-znt="<%= tanah[i].znt %>" data-alamatobjekpajak="<%= tanah[i].alamat_objek_pajak %>" data-namasubjekpajak="<%= tanah[i].nama_subjek_pajak %>" data-alamatwajibpajak="<%= tanah[i].alamat_wajib_pajak %>" data-jenistransaksi="<%= tanah[i].jenis_transaksi %>" data-nopinduk="<%= tanah[i].nop_induk %>" data-nopbaru="<%= tanah[i].nop_baru %>" data-namajalanobjek="<%= tanah[i].nama_jalan_objek %>" data-blokkavnoobjek="<%= tanah[i].blok_kav_no_objek %>" data-kelurahanobjek="<%= tanah[i].kelurahan_objek %>" data-rtobjek="<%= tanah[i].rt_objek %>" data-rwobjek="<%= tanah[i].rw_objek %>" data-status="<%= tanah[i].status %>" data-pekerjaan="<%= tanah[i].pekerjaan %>" data-namajalanwajib="<%= tanah[i].nama_jalan_wajib %>" data-blokkavnowajib="<%= tanah[i].blok_kav_no_wajib %>" data-kelurahanwajib="<%= tanah[i].kelurahan_wajib %>" data-rtwajib="<%= tanah[i].rt_wajib %>" data-rwwajib="<%= tanah[i].rw_wajib %>" data-kabupaten="<%= tanah[i].kabupaten %>" data-noktp="<%= tanah[i].no_ktp %>" data-zntbaru="<%= tanah[i].znt_baru %>" data-luastanahbaru="<%= tanah[i].luas_tanah_baru %>" data-jenistanah="<%= tanah[i].jenis_tanah %>" data-keterangan="<%= tanah[i].keterangan %>">
                                                                    <i class="fa fa-pencil-alt"></i>
                                                                </button>
                                                                <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#tampilGambar" >
                                                                    <i class="fa fa-eye"></i>
                                                                </button> -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }
                                                }else{ %>
                                                    <tr>
                                                        <td colspan="32">
                                                            <div class="alert alert-danger" role="alert">
                                                                Data Tidak Ditemukan !
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% } %>    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                   
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <%- include ('./deleteTanah'); %>
    <%- include ('./editTanah'); %>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yakin untuk keluar?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Silahkan klik "Logout" jika ingin keluar.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/admin/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assets/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/js/demo/chart-area-demo.js"></script>
    <script src="/assets/js/demo/chart-pie-demo.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <script>
        $('#deleteTanah').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id_tanah = button.data('id');
            var modal = $(this);
            modal.find('#tanahId').text(id_tanah);
            modal.find('#deleteButton').attr('data-id', id_tanah);
        });
      
        $('#deleteButton').on('click', function () {
            var id_tanah = $(this).data('id');
            $.ajax({
                type: 'POST',
                url: '/admin/deletetanah',
                data: { id_tanah: id_tanah },
                success: function () {
                location.reload();
                },
                error: function () {
                alert('Terjadi kesalahan saat menghapus data!');
                }
            });
        });

        $('#editTanah').on('show.bs.modal', function(event) {
  var button = $(event.relatedTarget);
  var id_tanah = button.data('id');
  var nop = button.data('nop');
  var lt = button.data('lt');
  var lb = button.data('lb');
  var znt = button.data('znt');
  var alamatObjekPajak = button.data('alamatobjekpajak');
  var namaSubjekPajak = button.data('namasubjekpajak');
  var alamatWajibPajak = button.data('alamatwajibpajak');
  var jenisTransaksi = button.data('jenistransaksi');
  var nopInduk = button.data('nopinduk');
  var nopBaru = button.data('nopbaru');
  var namaJalanObjek = button.data('namajalanobjek');
  var blokKavNoObjek = button.data('blokkavnoobjek');
  var kelurahanObjek = button.data('kelurahanobjek');
  var rtObjek = button.data('rtobjek');
  var rwObjek = button.data('rwobjek');
  var status = button.data('status');
  var pekerjaan = button.data('pekerjaan');
  var namaJalanWajib = button.data('namajalanwajib');
  var blokKavNoWajib = button.data('blokkavnowajib');
  var kelurahanWajib = button.data('kelurahanwajib');
  var rtWajib = button.data('rtwajib');
  var rwWajib = button.data('rwwajib');
  var kabupaten = button.data('kabupaten');
  var noKtp = button.data('noktp');
  var zntBaru = button.data('zntbaru');
  var luasTanahBaru = button.data('luastanahbaru');
  var jenisTanah = button.data('jenistanah');
  var keterangan = button.data('keterangan');

  var modal = $(this);
  modal.find('#tanahId').val(id_tanah);
  modal.find('#nop').val(nop);
  modal.find('#lt').val(lt);
  modal.find('#lb').val(lb);
  modal.find('#znt').val(znt);
  modal.find('#alamatObjekPajak').val(alamatObjekPajak);
  modal.find('#namaSubjekPajak').val(namaSubjekPajak);
  modal.find('#alamatWajibPajak').val(alamatWajibPajak);
  modal.find('#jenisTransaksi').val(jenisTransaksi);
  modal.find('#nopInduk').val(nopInduk);
  modal.find('#nopBaru').val(nopBaru);
  modal.find('#namaJalanObjek').val(namaJalanObjek);
  modal.find('#blokKavNoObjek').val(blokKavNoObjek);
  modal.find('#kelurahanObjek').val(kelurahanObjek);
  modal.find('#rtObjek').val(rtObjek);
  modal.find('#rwObjek').val(rwObjek);
  modal.find('#status').val(status);
  modal.find('#pekerjaan').val(pekerjaan);
  modal.find('#namaJalanWajib').val(namaJalanWajib);
  modal.find('#blokKavNoWajib').val(blokKavNoWajib);
  modal.find('#kelurahanWajib').val(kelurahanWajib);
  modal.find('#rtWajib').val(rtWajib);
  modal.find('#rwWajib').val(rwWajib);
  modal.find('#kabupaten').val(kabupaten);
  modal.find('#noKtp').val(noKtp);
  modal.find('#zntBaru').val(zntBaru);
  modal.find('#luasTanahBaru').val(luasTanahBaru);
  modal.find('#jenisTanah').val(jenisTanah);
  modal.find('#keterangan').val(keterangan);
});

$('#editTanah form').on('submit', function(event) {
  event.preventDefault();
  var form = $(this);
  var id_tanah = form.find('#tanahId').val();
  var nop = form.find('#nop').val();
  var lt = form.find('#lt').val();
  var lb = form.find('#lb').val();
  var znt = form.find('#znt').val();
  var alamatObjekPajak = form.find('#alamatObjekPajak').val();
  var namaSubjekPajak = form.find('#namaSubjekPajak').val();
  var alamatWajibPajak = form.find('#alamatWajibPajak').val();
  var jenisTransaksi = form.find('#jenisTransaksi').val();
  var nopInduk = form.find('#nopInduk').val();
  var nopBaru = form.find('#nopBaru').val();
  var namaJalanObjek = form.find('#namaJalanObjek').val();
  var blokKavNoObjek = form.find('#blokKavNoObjek').val();
  var kelurahanObjek = form.find('#kelurahanObjek').val();
  var rtObjek = form.find('#rtObjek').val();
  var rwObjek = form.find('#rwObjek').val();
  var status = form.find('#status').val();
  var pekerjaan = form.find('#pekerjaan').val();
  var namaJalanWajib = form.find('#namaJalanWajib').val();
  var blokKavNoWajib = form.find('#blokKavNoWajib').val();
  var kelurahanWajib = form.find('#kelurahanWajib').val();
  var rtWajib = form.find('#rtWajib').val();
  var rwWajib = form.find('#rwWajib').val();
  var kabupaten = form.find('#kabupaten').val();
  var noKtp = form.find('#noKtp').val();
  var zntBaru = form.find('#zntBaru').val();
  var luasTanahBaru = form.find('#luasTanahBaru').val();
  var jenisTanah = form.find('#jenisTanah').val();
  var keterangan = form.find('#keterangan').val();

  $.ajax({
    type: 'POST',
    url: '/admin/updatetanah',
    data: {
      id_tanah: id_tanah,
      nop: nop,
      lt: lt,
      lb: lb,
      znt: znt,
      alamatObjekPajak: alamatObjekPajak,
      namaSubjekPajak: namaSubjekPajak,
      alamatWajibPajak: alamatWajibPajak,
      jenisTransaksi: jenisTransaksi,
      nopInduk: nopInduk,
      nopBaru: nopBaru,
      namaJalanObjek: namaJalanObjek,
      blokKavNoObjek: blokKavNoObjek,
      kelurahanObjek: kelurahanObjek,
      rtObjek: rtObjek,
      rwObjek: rwObjek,
      status: status,
      pekerjaan: pekerjaan,
      namaJalanWajib: namaJalanWajib,
      blokKavNoWajib: blokKavNoWajib,
      kelurahanWajib: kelurahanWajib,
      rtWajib: rtWajib,
      rwWajib: rwWajib,
      kabupaten: kabupaten,
      noKtp: noKtp,
      zntBaru: zntBaru,
      luasTanahBaru: luasTanahBaru,
      jenisTanah: jenisTanah,
      keterangan: keterangan
    },
    success: function() {
      location.reload();
    },
    error: function() {
      alert('Terjadi kesalahan saat mengupdate data!');
    }
  });
});


      </script>

</body>

</html>